#register-content {
  padding-top: 100px;
}

#register-content h1 {
  font-size: 40px;
  letter-spacing: 0.2rem;
}

.registerForm {
  margin-top: 50px;
}

.registerForm .box {
  height: 450px;
}

.registerForm .inputContainer {
  padding-bottom: 5px;
}
