#register-content {
  padding-top: 100px;
}

#register-content h1 {
  font-size: 40px;
  letter-spacing: 0.2rem;
}

.registerForm {
  margin-top: 50px;
}

.registerForm .box {
  height: 450px;
}

.registerForm .normalBtn {
  width: 200px;
  height: 58px;
  margin-top: 50px;
  float: right;
  font-size: 25px;
  font-family: "El Messiri", sans-serif;
  cursor: pointer;
  letter-spacing: 0.1rem;
}

.registerForm .inputContainer {
  padding-bottom: 5px;
}
