*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html
{
    font-family: 'El Messiri',sans-serif;
}

@font-face {
    font-family: Glaive;
    src: url(./font/Glaive.ttf);
}

#header
{
    position: fixed;
    top: 0;
    background-color: rgba(255, 255, 255, 0.9);
    --header-height: 53px;
    height: var(--header-height);
    width: 100%;
    z-index: 1;
}

#nav
{
    display: flex;
    list-style-type: none;
    height: var(--header-height);
}

#nav li
{
    display: block;
    line-height: var(--header-height);
}

#nav li a
{
    position: relative;
    display: block;
    font-size: 1.25rem;
    padding: 0 10px;
    margin: 0 17px;
    letter-spacing: 0.1em;
    color: #0961ba;
    text-decoration: none;
}

#nav li a::before
{
    display: block;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #fffba7;
    transition: 0.25s;
    z-index: -1;
}

#nav li:hover a::before
{
    width: 100%;
}

#nav li:hover a#studioLogoContainer::before
{
    width: 0;
}

#studioLogo
{
    height: 28px;
    width: 46px;
    vertical-align: middle;
}



#banner
{
    position: relative;
    top: -50px;
    left: 0;
    height: 1070px;
    width: 100%;
}

#banner img
{
    width: 100%;
    height: auto;
}

#banner-content
{
    position: absolute;
    left: 0;
    top: 0;
    padding: 250px 0 0 0;
    margin-left: 50px;
}

#banner-content .gameTitle
{
    font-size: 8vw;
    font-family: 'Philosopher', sans-serif;
    font-weight: 300;
    background: linear-gradient(to right, #014298 0%, #1c8acf 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
    -webkit-text-stroke: 2.5px #FFA500;
    margin: 0 auto;
}

#banner-content a.buyBtn
{
    display: block;
    position: relative;
    background: url(./img/buy_btn.jpg) left top no-repeat;
    width: 340px;
    height: 86px;
    margin: 20px auto;
}

#banner-content a.buyBtn::after
{
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    background: url(./img/buy_btn.jpg) left top -90px no-repeat;
    width: 100%;
    height: 86px;
    opacity: 0;
}

#banner-content a.buyBtn:hover::after
{
    opacity: 1;
    transition: 0.3s;
}
