#details-new-content {
  text-align: center;
}

.news-time {
  display: inline-block;
  margin: 50px 0;
  padding: 5px 50px 2px;
  background: #0961ba;
  color: #fff;
  font-size: 20px;
  border-radius: 20px;
}

.news-title {
  font-size: 30px;
}

.news-title h3 {
  display: flex;
  align-items: center;
}

.news-title h3::before,
.news-title h3::after {
  content: "";
  display: block;
  flex-grow: 1;
  height: 2px;
  background-color: #0961ba;
}

.news-title h3::before {
  margin-right: 30px;
}

.news-title h3::after {
  margin-left: 30px;
}

.news-description {
  margin: 50px 0 100px;
  width: 100%;
  min-height: 50vh;
  padding: 45px;
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid #0961ba;
  font-size: 20px;
  line-height: 40px;
  text-align: left;
}
