.display-block {
  width: 90%;
  height: 90%;
  padding: 70px 50px 0;
  background-color: #fff;
  box-shadow: 0 4px 8px 4px rgb(107 119 128 / 12%);
  overflow: auto;
}

.display-block ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  list-style-type: none;
}
